<!DOCTYPE html>
<html>

<head>

<title>UPI Fraud Detection</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="header">
<h2>UPI Fraud Detection System</h2>
</div>

<div class="container">

<h3>Check UPI Transaction</h3>

<form action="/predict" method="post">

<input type="text" name="upi_id" placeholder="Enter UPI ID (example@upi)" required>

<input type="number" name="amount" placeholder="Enter Amount" required>

<button type="submit">Analyze Transaction</button>

</form>

</div>

</body>

</html>

